body,
body.dark {
  /* Text colors */
  --aa-text-color-rgb: 255, 255, 255;
  --aa-primary-color-rgb: 255, 255, 255;
  --aa-muted-color-rgb: 255, 255, 255;
  /* Background colors */
  --aa-input-background-color-rgb: 24, 24, 24;
  --aa-background-color-rgb: 31, 31, 31;
  --aa-selected-color-rgb: 169, 216, 240;
  --aa-selected-color-alpha: 0.25;
  --aa-description-highlight-background-color-rgb: 0 255 255;
  --aa-description-highlight-background-color-alpha: 0.25;
  /* Icons */
  --aa-icon-color-rgb: 255, 255, 255;
  /* Shadows */
  --aa-panel-shadow: inset 1px 1px 0 0 rgb(31, 31, 31), 0 3px 8px 0 rgb(0, 3, 9);
  /* Scrollbar */
  --aa-scrollbar-track-background-color-rgb: 24, 24, 24;
  --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
}

.aa-ItemIcon {
  border-radius: 8px;
}

.aa-ItemIcon--picture img {
  padding: 0px;
}

.aa-DetachedSearchButton {
  padding-right: 16px;
  border-radius: 10px;
}
